@CHARSET "UTF-8";
body {
	font-family: Verdana;
}
img {
  float: left;
}
textarea {
  width: 50%;
  float: right;
  background: #EEE;
  height: 50em;
  border: 1px solid #cccccc;
  padding: 5px;
  font-family: monospace;
}

button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}